
.nav_img{
    float: left;
    margin-top: 20px;
    position: fixed;
}
.nav_bar .nav_btn{
    display: flex;
    list-style: none;
    margin-left: 400px;
}
.nav_btn li{
    padding: 10px;
    font-size: 20px;
    font-family: "Rubik", sans-serif;   
}
li:hover{
    border-radius: 5px;
    background-color: rgb(53, 151, 204);
    color: white;
}
select:hover{
    border-radius: 5px;
    background-color: rgb(53, 151, 204);
    color: white;

}
.nav_bar select{
   
    border: none;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}
.first_row{
    width: auto;
    height: auto;
}
.left_par{
    float: left;
    margin-top: 150px;
    margin-left: 20px;
    position: relative;
}
.left_par .para1_btn{
    font-family: "Poppins", sans-serif;
    color: #4B3049;
    font-size: 40px;
}
.left_par .para2_btn{
    font-family: "Rubik", sans-serif;
    color: #795376;
    font-size: 20px;
}
.left_par .para3_btn{
    border: nobne;
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    padding:17px 30px 17px 30px;
    color: white;
    font-size: 20px;
    background-color: #B08EAD;
}
.pillow_img {
   position: relative;
   left: 160px;
    display: flex;
    flex-direction: left;
    
    
    
    
}
 .pillow_img .child_img{
    position: absolute;
    left: -100px;
    bottom: 40px;
    } 

.about_btn{
    text-decoration: none;
}

a{
    text-decoration: none;;
}

/* .second_row{
    width: auto;
    height: auto;
    
    display: flex;
    flex-direction: row;
} */
.left2_para .para1_img{
    position: relative;
    float: left;

}
.left2_para .para2_img{
    position: absolute;
    top: 700px;
    left:80px;
    
    

}
.right2_para{
    float: left;
    margin-left: 300px;
}
.right2_para .para1_right{
    
   color: #B08EAD;
   font-size: 20px;
   font-weight: 500;
 }
 .right2_para .para2_right{
    color: #B08EAD;
   font-size: 30px;
   font-weight: 500;
   
   color: #4B3049;
}
.right2_para .btn_explore{
    padding: 18px 36px 18px 36px;
    border: 1px solid #B08EAD;
    background-color: #B08EAD;
    
}
