
body{
    background-color: aquamarine;
}
h1{
    border: 1px solid green;
    padding: 20px;
    color:blue;
    margin: 30px 20px 30px 20px;
}
p{
    border: 1px solid red;
    padding: 30px 50px 20px 100px;
    margin: 30px;
}
.chatgtp{
    background-color: greenyellow;
}
#chatgtp{
    font-size: 30px;
}