
div{
    background-color: blue;
    /* display: flex;  */
    flex-direction: column; 
}

.para{

      /* display: none;  */
    visibility: hidden;
    margin-top: 5px;
    background-color: aqua;
}
.para2{
    height: 100px;
    background-color: blueviolet;
}