p{
    background-color:yellow;
    border:3px dotted red;
    margin:25px;
    padding:10px;
    font-weight:bold;
}

.abc{
    background-color:green;
}

#bcd{
    font-size:35px;
    color:white;
}