h1{
    padding: 20px;
    border: salmon;
    margin: 10px;
    text-align: center;
    color: navy;
    margin-left: 20px;
    background-color: rgba(200,200,200,0.2);
    text-shadow: 2px 2px 2px #125632, 3px 4px 5px #599752;
    
}
h2{
    background-color: rgb(100,200,25);
    margin: 20px;
    border: 10px solid orange;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 50px 30px 60px;
    text-align: left;
    text-transform: lowercase;
}
h3{
    background-color: hsl(9,100%,64%);
    border:2px darkorchid blue;
    text-align: right;
    align-items:start;
    vertical-align: bottom;
    text-decoration: underline;
    text-transform: lowercase;
    text-transform: capitalize;
}
body{
    
    background-position: right top;
    background-attachment: fixed;
}
.dotted{
    border-style: dotted;
    border-width: thick;
    border-color: aqua;
    text-transform: capitalize;
}
.dashed{
    border-style: dashed;
    border-color: red green;
    text-transform:uppercase;
    word-spacing: 10px;
}
.solid{
    border-style: solid;
    border-top: 10px red;
    text-indent: 50px;
    letter-spacing: 10px;
}
.double{
    border-style: double;
}
.groove{
    border-style: groove;
}
.ridge{
    border-style: ridge;
}
.inset{
    border-style: inset;
}
.outset{
    border-style: outset;
}
.none{
    border-style: none;
}
.hidden{
    border-style: hidden;
}
.mix{
    border-style: mix;
}