/* /* p{
    background-color: yellow;
    margin-top: 50px;
    display: inline-block;
} */
/* div{
    display: flex;
    flex-direction: column;

}
div p{
    background-color: aqua;
    margin: 10px;
     display: inline-block;
} */

div.a{
    background-color: yellow;
    height: 100px;
    /* display: none; */
    visibility: hidden;
}
